body {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  font-family: Roboto, Tahoma, sans-serif;
}

body.index {

}

.bg {
  background: #849d8f;
  background-position: 50% 0;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 30px;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  margin: 0px;
  margin-bottom: -2px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 75px;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 580px;
}

.main-navigation .main-navigator-link {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #ffffff;
}

.main-navigation .main-navigator-current {
  border-radius: 16px;
  text-decoration: none;
  background: #d07058;
  color: #ffffff;
}

.main-navigation a:hover {
  color: #333333;
  background-color: #ffffff;
  border-radius: 16px;
  text-decoration: none;
}

.main-navigation a:active {
  color: #333333;
  background-color: #ffffff;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: inset 0 2px 2px 0 #696969;
}

.main-navigation > ul{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
  font-size: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
}

.main-navigation .to-main {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-right: 15px;
  margin-left: 4px;
  float: left;
  width: 153px;
  height: 63px;
}

.main-navigation .to-main:hover {
  background: none;
}


.main-navigator-catalog {
  float: left;
  width: 400px;
}

.main-navigator-catalog a {
  display: block;
  color: #343434;
}

.main-navigator-catalog li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  margin: 0 4px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  transition:
    background-position 0.5s,
    background-color 0.5s;
}

.header-btn:hover {
  background: #ffffff;
  color: #373737;
}

.user-block-item {
  padding: 5px 0;
}

.login-block:hover .modal-content-login {
  visibility: visible;
}

.header-btn-cart {
  padding-left: 45px;
  margin-right: 0px;
  margin-left: 6px;
}

.cart-empty {
  padding-right: 34px;
}

.cart-full {
  padding-right: 20px;
}

.cart-empty::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -10px -10px;
}

.cart-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -92px -10px;
}

.cart-empty:hover::before {
  background-position: -51px -10px;
}

.cart-full:hover::before {
  background-position: -133px -10px;
}



.header-btn-login {
  padding-left: 44px;
  padding-right: 16px;
  margin-left: 6px;
}

.header-btn-login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -174px -10px;
}

.header-btn-login:hover::before {
  background-position: -215px -10px;
}

.header-btn-search {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0px;
  margin-left: 0px;
}

.header-btn-search::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 17px;
  height: 17px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -256px -10px;
}

.header-btn-search:hover::before {
  background-position: -293px -10px;
}

.user-block {
  float: right;
  width: 275px;
  margin-top: 23px;
  margin-right: 10px;
}

.index-main-top {
  clear: both;
  float: right;
  margin-bottom: 273px;
  width: 180px;
}

.slider-and-promobtn {
  display: none;
}

.slider-wrapper {
  position: relative;
}

.slider {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 2;
  font-size: 0;
  margin-right: 10px;
}

/*.slider ul {*/
  /*margin: 0px;*/
  /*padding: 6px 8px;*/
/*}*/

/*.slider li {*/
  /*display: inline-block;*/
  /*font-size: 0px;*/
  /*margin-left: 10px;*/
/*}*/

.slider label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

body > input[type="radio"] {
  display: none;
}

#slider1:checked ~ .bg .container .special-offers .slider-wrapper #slide1,
#slider2:checked ~ .bg .container .special-offers .slider-wrapper #slide2,
#slider3:checked ~ .bg .container .special-offers .slider-wrapper #slide3 {
  display: block;
}

#slider1:checked ~ .bg {
  background-color: #849d8f;
  background-image: url("../img/index-2-ice-1.png");
  background-repeat: no-repeat;
}

#slider2:checked ~ .bg {
  background-color: #8996a6;
  background-image: url("../img/index-2-ice-2.png");
  background-repeat: no-repeat;
}

#slider3:checked ~ .bg {
  background-color: #9d8b84;
  background-image: url("../img/index-2-ice-3.png");
  background-repeat: no-repeat;
}

#slider1:checked ~ .bg .container .special-offers .slider-wrapper label[for="slider1"],
#slider2:checked ~ .bg .container .special-offers .slider-wrapper label[for="slider2"],
#slider3:checked ~ .bg .container .special-offers .slider-wrapper label[for="slider3"] {
  background-color: #ffffff;
}

.red-btn a {
  background: #f26843;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 #ab5948,
              inset 0 -30px 30px -30px #e74b36;
}

.red-btn a:hover {
  background: #f58669;
  box-shadow: 0 2px 2px 0 #ab5948,
              inset 0 -30px 30px -30px #ec6f5e ;
}

.red-btn a:active {
  background: #f26843;
  box-shadow: inset 0 2px 2px 0 #ab5948,
              inset 0 30px 30px -30px #e74b36;
}

.get-both-btn {
  width: 280px;
  margin: 0 auto;
  border-radius: 32px;
  box-shadow: 0 1px 2px 0 #ab5948;
}

.get-both-btn a {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  line-height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 32px;
}

.want-it-now {
  margin: 0 auto;
  border-radius: 22px;
  box-shadow: 0 1px 2px 0 #910b09;
  float: right;
}

.want-it-now a {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
  border-radius: 22px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  padding-right: 20px;
}

.breadcrumbs-item a {
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumbs-item a:hover {
  color: #ffbc9e;
}

.breadcrumbs-block ul {
  padding: 0px;
  margin: 0px;
}

.breadcrumbs-block {
  float: left;
  padding-top: 20px;
  padding-left: 7px;
  width: 500px;
}

.breadcrumbs-item::after {
  content: "»";
  position: absolute;
  right: 4px;
  top: 0px;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: -10px;
}

.breadcrumbs-item:last-child::after {
  width: 0px;
  height: 0px;
  font-size: 0px;
}

.work-info {
  float: right;
  margin-right: 12px;
  margin-top: -4px;
  width: 180px;
}

.work-info span {
  display: block;
  float: right;
  margin-bottom: 4px;
}

.work-info .opening-hours {
  font-size: 14px;
  line-height: 16px;
}

.work-info .phone-number {
  font-size: 22px;
  line-height: 24px;
}

.main-top {

}

.special-offers {
  clear: both;
}

.slider-and-promobtn {
  min-height: 65px;
  margin-bottom: 40px;
}

.index-block {
  min-height: 161px;
  width: 381px;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 24px;
  border-radius: 10px;
}

.index-block p {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
}

.left-offer {
  float: left;
  background: #6c0111 url("../img/index-strawberry-free.png");
}

.right-offer {
  float: right;
  background: #583422 url("../img/index-chocolate-free.png");
}

.offers {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 12px;
}

.hit-offers {
  font-size: 0px;
  margin-bottom: 36px;
  padding-left: 9px;
}

.hit-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  width: 200px;
  min-height: 280px;
}

.hit-price {
  position: absolute;
  z-index: 2;
  top: 140px;
  font-size: 45px;
  line-height: 45px;
}

.hit-value {
  position: absolute;
  z-index: 2;
  top: 140px;
  left: 80px;
  font-size: 45px;
  line-height: 45px;
}

.hit-measure {
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  z-index: 2;
  top: 145px;
  left: 110px;
}

.hit-item a {
  color: #ffffff;
  text-decoration: none;
}

.hit-item .hit-name:hover {
  color: #ffbc9e;
}

.hit-item:last-child {
  margin-right: 0px;
}

.hit-item-img {
  position: relative;
  margin-bottom: 7px;
}

.hit-hit::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 61px;
  height: 61px;
  background: url("../img/index-hit-mark.png");
}

.hit-name {
  text-align: center;
  text-decoration: underline;
  padding: 0 5px;
}

.index-seo-block {
  padding: 0 10px;
}

.index-seo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  margin-bottom: 40px;
  background: url("../img/index-waffle.jpg");
  border-radius: 18px;
  min-height: 346px;
}

.index-disclaimer {
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 5px;
  color: #323232;
}

.disclaimer-cols p {
  color: #323232;
}

.disclaimer-left-col {
  float: left;
  width: 400px;
}

.disclaimer-right-col {
  float: right;
  width: 400px;
}

.index-disclaimer-item {
  position: relative;
  width: 401px;
  min-height: 115px;
}

.disclaimer-item-icon {
  position: absolute;
  width: 49px;
  height: 49px;
  top: -12px;
  font-size: 0px;
  background: transparent url("../img/seo-sprite.png") no-repeat;
}

.icon-ice {
  background-position: -78px -10px;
}

.icon-leaf {
  background-position: -147px -10px;
}

.icon-cow {
  background-position: -10px -10px;
}

.icon-temp {
  background-position: -216px -10px;
}

.disclaimer-item-text {
  margin-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 0px;
}

.news-and-distribution {
  margin-bottom: 40px;
  padding: 0 10px;
}

.index-news {
  float: left;
  padding-top: 23px;
  padding-right: 60px;
  width: 340px;
  height: 173px;
  background: #ffffff url("../img/index-blog-bg.png");
}

.index-news a {
  text-decoration: underline;
  color: #353535;
  font-size: 25px;
  line-height: 30px;
}

.index-distribution {
  position: relative;
  float: right;
  min-height: 161px;
  width: 368px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 35px;
  background: url("../img/index-distribution-bg-top.png"),
              url("../img/index-distribution-bg-bottom.png"),
              url("../img/index-distribution-bg-middle.png");
  background-position: top left, bottom left, top 58px left;
  background-repeat: no-repeat, no-repeat, repeat-y;
  /*background: #f8f7f4;*/
}



.news-head {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 7px;
  color: #5a5a5a;
}

.distribution-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #5a5a5a;
}

.distribution-input {
  width: 176px;
  padding: 10px;
  border-radius: 5px;
}

.distribution-btn {
  display: inline-block;
  vertical-align: top;
  float: right;
  background: #f26843;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 19px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 #ab5948,
              inset 0 -30px 30px -30px #e74b36;
}

.distribution-btn:hover {
  background: #f58669;
  box-shadow: 0 2px 2px 0 #ab5948,
              inset 0 -30px 30px -30px #ec6f5e ;
}

.distribution-btn:active {
  background: #f26843;
  box-shadow: inset 0 2px 2px 0 #ab5948,
              inset 0 30px 30px -30px #e74b36;
}

.index-map {
  position: relative;
  height: 366px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  padding-top: 63px;
}

.map-script {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.index-map::before {
  content: "";
  position: absolute;
  top: 140px;
  left: 185px;
  display: block;
  width: 218px;
  height: 142px;
  background: url("../img/index-map-pin.png");
}

.index-address {
  position: absolute;
  right: 10px;
  width: 255px;
  height: 251px;
  padding-left: 25px;
  padding-top: 30px;
  margin-right: 12px;
  background-color: #fefefe;
  color: #323232;
  border-radius: 15px;
  font-weight: 700;
  z-index: 2;
}

.address-descript {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  width: 200px;
}

.descript2 {
  margin-bottom: 6px;
}

.descript3 {
  margin-bottom: 25px;
}

.address-address {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 19px;
}

.address-phone {
  font-size: 18px;
  line-height: 22px;

}

.feedback-form {
  float: right;
  background: #ed5b3d;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  box-shadow: 0 1px 2px 0 #ab5948;
  margin-right: 5px;
}

.main-footer {
  font-weight: normal;
}

.footer-social {
  float: left;
  margin-right: 20px;
  margin-left: 5px;
  width: 200px;
  height: 100px;
  padding-top: 37px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin: 0 4px;
  font-size: 0;
  text-decoration: none;
  background: transparent url("../img/footer-sprite.png") no-repeat center;
  box-shadow: inset 0 0 0 3px #c2cec7;
  border-radius: 19px;
}

.social-btn:active {
  background: transparent url("../img/footer-sprite.png") no-repeat;
  box-shadow: inset 0 0 0 3px #c2cec7,
              inset 0 3px 5px 0 #000000;
}

.social-btn-fb:hover {
  background-position: -187px -7px;
}

.social-btn-fb:active,
.social-btn-fb {
  background-position: -135px -7px;
}

.social-btn-inst:hover {
  background-position: -326px -7px;
}

.social-btn-inst:active,
.social-btn-inst {
  background-position: -274px -7px;
}

.social-btn-tw:hover {
  background-position: -431px -7px;
}

.social-btn-tw:active,
.social-btn-tw {
  background-position: -378px -7px;
}

.social-btn-vk:hover {
  background-position: -536px -7px;
}

.social-btn-vk:active,
.social-btn-vk {
  background-position: -484px -7px;
}

.footer-about {
  float: left;
  width: 400px;
  height: 100px;
  font-size: 13px;
  line-height: 18px;
  padding-top: 35px;
  margin-left: 37px;
}

.footer-about a {
  display: block;
  position: relative;
  text-decoration: underline;
  color: #ffffff;
  padding-left: 25px;
  margin-bottom: 5px;
}

.footer-about a:hover {
  color: #ffbc9e;
}

.footer-copyright {
  float: right;
  width: 200px;
  height: 100px;
  padding-top: 20px;
}

.footer-about-left {
  float: left;
  width: 140px;
}

.footer-about .bold {
  font-weight: 700;
}

.footer-about .bold::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;;
  display: block;
  width: 16px;
  height: 13px;
  background: url("../img/footer-sprite.png") no-repeat;
  background-position: -242px -10px;
}

.footer-about-right {
  float: left;
  width: 200px;
}

.footer-copyright {
  position: relative;
}

.footer-copyright::before {
  content: "";
  position: absolute;
  display: block;
  width: 108px;
  height: 38px;
  background: url("../img/footer-sprite.png");
  background-position: -10px -10px;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  padding-top: 30px;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover {
  color: #ffbc9e;
}

.user-block-item {
  float: right;
}

.catalog-main-top {

}

body.catalog h2 {
  margin-left: 8px;
  margin-bottom: 25px;
}

.sort-by {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-by>li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  font-size: 16px;
  line-height: 18px;
  background-color: #abbcb2;
  padding: 9px;
  padding-left: 15px;
  padding-right: 48px;
  margin-left: 8px;
  border-radius: 17px;
}

.sort-by>li::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 6px;
  background: url(../img/header-sprite.png);
  background-position: -360px -10px;
  top: 16px;
  right: 15px;
}

.sort-by>li:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 6px;
  background: url(../img/header-sprite.png);
  background-position: -389px -10px;
  top: 16px;
  right: 15px;
}

.sort-by a {
  display: block;
  margin-left: -1px;
  padding: 3px;
  padding-left: 20px;
  color: #343434;
  border-left: 1px solid #e5e5e5;
  text-decoration: none;
}

.sort-by a:hover {
  background: #1e90ff;
  color: #ffffff;
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  font-size: 14px;
  line-height: 16px;
  margin-left: -16px;
  margin-top: 10px;
  z-index: 2;
  width: 193px;
}

.sort-by > li:hover,
.sort-by > li:active {
  background: #ffffff;
  color: #343434;
  cursor: pointer;
}

.custom label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 25px;
  font-size: 14px;
  line-height: 16px;
}

.customize-ice-cream {
  margin-bottom: 30px;
}

.custom span {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 16px;
  padding-left: 5px;
}

.custom {
  float: left;
  font-size: 0px;
}

.custom-sort-by {
  width: 200px;
  height: 57px;
  margin-right: 11px;
  margin-bottom: 17px;
}

.custom-price {
  position: relative;
  width: 218px;
  height: 57px;
  margin-right: 15px;
  margin-bottom: 17px;
}

.price-range-bg {
  position: absolute;
  left: 5px;
  width: 220px;
  height: 36px;
  border-radius: 18px;
  background: #aabcb2;
}

.price-range-bar-empty {
  position: absolute;
  width: 190px;
  height: 4px;
  top: 38px;
  left: 20px;
  background: #d1dad3;
}

.price-range-bar-full {
  position: absolute;
  width: 98px;
  height: 4px;
  top: 38px;
  left: 53px;
  background: #ffffff;
}

.price-range-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 30px;
  background: #ffffff;
}

.min-marker {
  left: 45px;
}

.max-marker {
  left: 140px;
}

.custom-fat-content {
  float: right;
  width: 415px;
  height: 57px;
  margin-bottom: 17px;
  margin-left: 15px;
}

.custom-fat-content ul {
  display: inline-block;
  vertical-align: top;
  padding: 9px 5px;
  padding-bottom: 5px;
  margin: 0px;
  margin-left: -15px;
  background: #abbcb2;
  width: 405px;
  border-radius: 16px;
}

.fat-content-list li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:disabled + label {
  display: block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  opacity: 0.4;
}

input[type="radio"] + label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 11px;
  background-color: transparent;
  position: absolute;
  top: -2px;
  left: -10px;
}

input[type="radio"] + label:hover::before {
  content: "";
  position: absolute;
  background: #b2c1b7;
  border: 2px solid #ffffff;
  cursor: pointer;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 5px;
  left: -3px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.custom-flavour {
  position: relative;
  width: 710px;
  height: 57px;
  margin-right: 10px;
  margin-left: 2px;
}

.custom-flavour span {
  padding-left: 20px;
}

.custom-flavour ul {
  margin: 0;
  padding: 0;
  background-color: #abbcb2;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 17px;
}

.custom-flavour label {
  font-size: 16px;
  line-height: 18px;
}

.flavour-list li {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 28px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:disabled + label {
  display: block;
  padding-left: 28px;
  position: relative;
  cursor: pointer;
  opacity: 0.4;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: -10px;
}

input[type="checkbox"]:disabled + label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  opacity: 0.4;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: -10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: -6px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -330px -10px;
}

input[type="checkbox"]:disabled:checked + label::after {
  content: "";
  position: absolute;
  opacity: 0.4;
  width: 12px;
  height: 12px;
  top: 4px;
  left: -6px;
  background: transparent url("../img/header-sprite.png") no-repeat;
  background-position: -330px -10px;
}


.custom-btn {
  float: right;
  padding: 7px 28px;
  background-color: #abbcb2;
  border: 2px solid #ffffff;
  border-radius: 18px;
  color: #ffffff;
  margin-top: 20px;
  margin-right: 12px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #ffffff;
  color: #353535;
}

.custom-btn:active {
  border: none;
  padding: 9px 30px;
  box-shadow: inset 0 2px 2px 0 #8e8e8e;
}

.items {
  margin-bottom: 30px;
}

.items-row {
  margin-bottom: -65px;
}

.items-row:last-child {
  margin-bottom: -45px;
}

.ice-cream {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 10px 8px 0px;
  width: 200px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.ice-cream:nth-child(4n) {
  margin-right: 0px;
}

.catalog-ice-pic {
  position: relative;
  margin-bottom: 13px;
}

.price {
  position: absolute;
  z-index: 2;
  top: 140px;
  font-size: 45px;
  line-height: 45px;
}

.value {
  position: absolute;
  z-index: 2;
  top: 140px;
  left: 80px;
  font-size: 45px;
  line-height: 45px;
}

.measure {
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  z-index: 2;
  top: 145px;
  left: 110px;
}

.ice-cream a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  text-decoration: underline;
  padding: 0 5px;
}

.paginator {
  position: relative;
  float: right;
  width: 190px;
  height: 29px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.paginator ul {
  padding: 0;
  margin: 0;
}

.paginator li {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 0;
  padding: 0;
}

.paginator a {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 13px;
  color: #ffffff;
}

.paginator a:hover{
  background: rgba(255, 255, 255, 0.2);
  width: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.paginator a.active-page {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background: #ffffff;
  font-size: 16px;
  line-height: 18px;
  color: #343434;
}

.paginator a.back,
.paginator a.forward {
  height: 27px;
  width: 27px;
  padding: 0px;
}

.paginator a.back:hover,
.paginator a.forward:hover {
  background-color: transparent;
}

.paginator a.back::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  display: block;
  width: 9px;
  height: 15px;
  background: url("../img/header-sprite.png");
  background-position: -445px -10px;
}

.paginator a.forward::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  display: block;
  width: 9px;
  height: 15px;
  background: url("../img/header-sprite.png");
  background-position: -417px -10px;
}

.modal-content-feedback {
  visibility: hidden;
  position: fixed;
  top: 340px;
  left: 50%;
  margin-left: -240px;
  width: 430px;
  padding: 15px 25px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 3;
}

.modal-content-close {
  width: 19px;
  height: 19px;
  font-size: 0px;
  border: none;
  cursor: pointer;
  background-color: #f8f7f4;
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 2px;
  background-color: #070707;
  top: 8px;
  left: 0px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.feedback-title {
  color: #070707;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.feedback-name,
.feedback-email {
  padding: 10px;
  width: 245px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.feedback-text {
  width: 405px;
  height: 135px;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px;
}

.feedback .distribution-btn {
  padding: 10px 22px;
}

.modal-content-login {
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: 25px;
  width: 240px;
  padding: 15px 20px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 0 20px -5px #000000;
}

.login-form-password,
.login-form-email {
  padding: 10px;
  width: 220px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.feedback-text {
  width: 405px;
  height: 135px;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px;
}

.login-btn {
  padding: 10px 25px;
  float: left;
}

.login-form-other {
  float: right;
}

.login-form-other a {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 7px;
}

.modal-content-search {
  visibility: hidden;
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -140px;
  width: 310px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 0 20px -5px #000000;
}

.search-btn {
  display: none;
}

.search-form-search {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  width: 290px;
}

.search-block:hover .modal-content-search {
  visibility: visible;
}

.main-navigator-item {
  position: relative;
}

.main-navigator-item li {
  display: block;

}

.index-sub-menu {
  position: absolute;
  display: none;
  margin-left: -5px;
  margin-top: 5px;
  background: #ffffff;
  line-height: 16px;
  z-index: 5;
  border-radius: 5px;
  width: 145px;
  padding-left: 0px;

}

.main-navigator-catalog > li:hover .index-sub-menu {
  display: block;

}

.index-sub-menu li {
  font-size: 14px;
  line-height: 16px;
  padding-top: 3px;
}

.index-sub-menu li:first-child {
  padding: 5px 0 7px 0;
  position: relative;
}

.index-sub-menu li:first-child::after {
  content: "";
  position: absolute;
  right: 10px;
  left: 10px;
  top: 37px;
  height: 1px;
  background-color: #d1d0ce;
}

.index-sub-menu-common a {
  display: inline-block;
  vertical-align: top;
  width:100%;
  box-sizing:border-box;
  padding: 6px 20px;
  font-weight: normal;
  text-decoration:none;
  color: #343434;
}

.index-sub-menu li:hover {
  background: #fbded8;
}

.index-sub-menu a:hover {
  background: none;
  width:105px;
}

.modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cart-content {
  position: absolute;
  visibility: hidden;
  top: 65px;
  left: 50%;
  background: #f8f7f4;
  color: #333333;
  font-size: 13px;
  line-height: 16px;
  margin-left: -110px;
  font-weight: 100;
  padding: 15px;
  border-radius: 5px;
}

.cart-table {
  border-collapse: collapse;
  margin-bottom: 8px;
}

.cart-table-block {
  position: relative;
}

.cart-table td {
  padding: 10px;
}

.cart-table-block::after {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 100%;
  height: 1px;
  background-color: #cacac7;

}

.cart-block:hover .cart-content {
  visibility: visible;
  z-index: 5;
}

.td-quantity-price div {
  display: inline-block;
  vertical-align: top;
}

.td-delete {
  position: relative;
  font-size: 0px;

}

.cart-delete::before,
.cart-delete::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  width: 14px;
  height: 1px;
  background-color: #3e3e3e;
  border-radius: 1px;
}

.cart-delete::before {
  transform: rotate(45deg);
}

.cart-delete::after {
  transform: rotate(-45deg);
}

.td-ice-name {
  word-wrap: break-word;
  width: 220px;
  padding-right: 10px;
}

.cart-item-price {
  color: #999999;
}

.cart-table .td-amount {
  padding-right: 20px;
}

.cart-amount {
  float: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  padding: 15px 0;
}

.cart-content-btn {
  padding: 10px 15px;
}

.cart-content-footer {
  float: right;
  width: 190px;
}

.ice-cream-btn-hover {
  padding: 10px 15px;
  visibility: hidden;
}

.ice-cream:hover {
  background: rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.ice-cream:hover .ice-cream-btn-hover {
  visibility: visible;
}

.modal-show {
  visibility: visible;
}

.animat-for-login-form {
  animation-name: scale-login;
  animation-duration: 0.5s;
}

.animat-for-search-form {
  animation-name: scale-search;
  animation-duration: 0.5s;
}

.animat-for-catalog-list {
  animation-name: scale-catalog-list;
  animation-duration: 0.5s;
}

.animat-for-feedback-form {
  animation-name: scale-feedback-form;
  animation-duration: 0.5s;
}

.animat-for-cart-full {
  animation-name: scale-cart;
  animation-duration: 0.5s;
}

.animat-for-sort-list {
  animation-name: scale-sort-list;
  animation-duration: 0.5s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes scale-login {
  0% {
    transform: translate(150px,-100px) scale(0, 0);

  }
  100% {
    transform: translate(0px,0px) scale(1, 1);

  }
}

@keyframes scale-search {
  0% {
    transform: translate(150px,-30px) scale(0, 0);

  }
  100% {
    transform: translate(0px,0px) scale(1, 1);

  }
}

@keyframes scale-catalog-list {
  0% {
    transform: translateY(-80px) scaleY(0);

  }
  100% {
    transform: translateY(0px) scaleY(1);

  }
}

@keyframes scale-feedback-form {
  0% {
    transform: translate(150px,150px) scale(0, 0);

  }
  100% {
    transform: translate(0px,0px) scale(1, 1);

  }
}

@keyframes scale-cart {
  0% {
    transform: translate(250px,-120px) scale(0, 0);
  }
  100% {
    transform: translate(0px,0px) scale(1, 1);
  }
}

@keyframes scale-sort-list {
  0% {
    transform: translateY(-50px) scaleY(0);

  }
  100% {
    transform: translateY(0px) scaleY(1);

  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}
